#created automaticly
*.hack linguist-generated
*.out linguist-generated
*.cmp linguist-generated

#documentaion files
*.tst linguist-documentation

#my code files
*.hdl linguist-language=VHDL
*.asm linguist-language=Assembly
